route:
  receiver: telegram

receivers:
  - name: telegram
    telegram_configs:
      - bot_token: "{{ lookup('env', 'TELEGRAM_BOT_TOKEN') }}"
        chat_id: {{ lookup('env', 'TELEGRAM_CHAT_ID') }}
        parse_mode: HTML
        message: |
          🚨 VPN ALERT

          Status: {{ "{{ .Status }}" }}
          Alert: {{ "{{ .CommonLabels.alertname }}" }}

          Summary:
          {{ "{{ .CommonAnnotations.summary }}" }}
